*{
  font-family: Arial;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #005EC0;
}

a, a:link, a:visited {
  text-decoration: none;
}

header{
  width: 100%;
  background-color: #303030;
  padding: 10px;
  font-size: 15px;
}

nav{
  width: 100%;
  background: rgb(0,94,192);
  background: linear-gradient(90deg, rgba(0,94,192,1) 0%, rgba(43,120,200,1) 22%, rgba(0,94,192,1) 100%);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center
}


header ul li a{
  color:white;
}

nav ul li a{
  color:white;
}

nav ul li{
  padding-right: 50px;
}


.horizontalList{
  list-style-type: none;
  text-align: right;
}

.horizontalList li{
  display: inline;
  position: relative;
  padding-left: 10px;
}

.headerIcon{
  height: 25px;
  vertical-align:middle;
  background-color: none;
  padding-left: 2px;
  padding-bottom: 2px;
}

.logo{
  font-size:35px;
  padding: 25px;
  padding-left: 35px;
  color: white;
}

.eventBlock{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.eventPreview {
  width: 300px;
  margin: 5px;
}

.eventPreview > *{
  padding-top: 5px;
}

.eventPreview img{
  width: 100%;
  object-fit: cover;
  height: 220px;
}

.button{
  color:white;
  background-color: #005EC0;
  border: none;
  margin-top: 2px;
  padding: 6px;
}

.pageTitle{
  padding: 30px;
  padding-bottom: 5px;
}

.spanBlurImage{
  width: 100%;
  object-fit: cover;
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
  margin: -10px;
  height:380px;
}


.eventImageWrapper{
  overflow: hidden;
  width: 100%;
  position: relative;
  text-align: center;
}

.eventTextOverlay{
  position: absolute;
  top: 42%;
  left: 4%;
  text-align: left;
}

.eventTextOverlay h1{
  color: white;
  font-size: 38px;
}

.eventTextOverlay h2{
  color: white;
  font-size: 27px;
}

.eventTextOverlay h3{
  color: white;
  font-size: 20px;
}

.performanceTable table{
  width: 100%;
  border: 0;
}

.performanceTable td{
  padding: 20px;
  font-size: 17px;
}

.performanceTable tr:nth-child(odd){
  background-color: #f2f2f2;
}

.pagePad{
  padding: 40px;
}

.basketTable table{
  max-width:100%;
  white-space:nowrap;
}

.basketTable td{
  padding: 5px;
  border: 1px solid lightGrey;
}

.basketTable th{
  padding: 5px;
  border: 1px solid lightGrey;
}

th{
  text-align: left;
}

.largeButton{
  margin-top: 30px;
  font-size: 18px;
  padding: 10px;
}

input{
  font-size: 17px;
  border: 1px solid lightGrey;
  border-radius: 1px;
  padding: 6px;
  color: black;
  margin-top: 4px;
  margin-bottom: 13px;
}

label{
  color: grey;
}

input:focus{
  border: 1px solid #005EC0;
}

.orderSummary{
  width:30%;
  background-color: #F8F8F8;
  min-width: 350px;
}

.orderSummaryDetails, .orderSummaryTitle{
  padding: 22px;
}

.orderSummaryDetails > *{
  color: grey;
  font-weight: normal;
}


.orderSummary img{
  width: 100%;
  object-fit: cover;
  height: 220px;
}

.splitFlex{
  display: flex;
  justify-content: space-around;
  margin: 35px;
  flex-wrap: wrap;
}

.inputFrame{
  border: 1px solid lightGrey;
  padding: 15px;
  width: 250px;
}

form h2{
  padding-bottom: 15px;
}

.venueSteatingImage{
  height: 420px;
}

.venueSteaingImagePlaceholder{
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
  border: 1px solid lightGrey;
}

.ticketOption{
  width:35%;
  min-width: 505px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  float: right;
  overflow: auto;
  min-height: 580px;
  padding: 40px;
}

.ticketOption table{
  font-size: 20px;
}

.ticketOption table td{
  padding-top: 10px;
}

.round{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 8px;
}

.ticketQuantityOptions > *{
  display: inline-block;
  padding-left: 7px;
}

.ticketOption h1{
  padding-bottom: 30px;
}

.eventImageRounded{
  border-radius: 5px;
  height: 100px;
}

.peformanceTextOverlay{
  position: absolute;
  top: 20%;
  left: 4%;
  text-align: left;
  display: inline-block;
}

.performanceInfo{
  display: inline-block;
  padding-left: 20px;
  vertical-align:top;
  margin-top: 7px;

}

.performanceInfo > *{
  color: white;
  font-weight: normal;
}

.bold{
  font-weight: bold;
}

.soldOutMessage{
  color: lightgrey;
  text-align: right;
}

.errorMessage{
  background-color: red;
  height: 70px;
  position: absolute;
  top: 23%;
  right: 0%;
  padding: 10px;
}

.errorMessageText h4{
    color: white;
    display: inline;
}

.errorMessage > * {
  display: inline;
  color: white;
}

.icon{
  height: 100%;
  padding: 5px;
  vertical-align: middle;
  padding-right: 13px;
}

#totalTicketValue{
  padding-top: 40px;
}

.blue{
  color: #005EC0;
}

.transactionSuccessfulTitle{
  margin-top: 60px;
  text-align: center;
}

.transactionSuccessfulTitle h1{
  font-size: 50px;
  padding-bottom: 20px;
}

.orderConfirmedDetails{
  display: flex;
  justify-content:space-around;
  margin-top: 60px;
}
