<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
    <title>{{title}}</title>
  </head>
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <nav>
    {% block navbar %}
    {% endblock %}
  </nav>
  <body>
    {% block content %}

    {% endblock %}
  </body>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>

  {% block script %}
  {% endblock %}

</html>
