
<div class="basketTable">
  <table cellspacing="0">
    <tr>
      <th>Event</th>
      <th>Performer</th>
      <th>Venue</th>
      <th>Location</th>
      <th>Date</th>
      <th>Quantity</th>
    </tr>
    {% for product in basketData %}
    <tr>
      <td style="width:10%">{{product[0][1]}}</td>
      <td style="width:7%">{{product[0][2]}}</td>
      <td style="width:7%">{{product[0][3]}}</td>
      <td style="width:7%">{{product[0][4]}}</td>
      <td style="width:7%">{{product[0][5]}}</td>
      <td style="width:3%">{{product[1]}}</td>
      <td style="width:0.1%">
        <form onSubmit="">
          <input type="submit" class="button" value="Remove" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
