{% extends "standardPage.html" %}

{% block content %}
{{ super() }}

<div class="transactionSuccessfulTitle">
  <h1>You're going to see {{transactionData[2]}}!</h1>
  <h2>Your order has been placed! Thank you for using mytickets</h2>
</div>

{% include "guestInfo.html" %}

{{transactionData[0]}}
{{transactionData[1]}}
{{transactionData[2]}}
{{transactionData[3]}}
{{transactionData[4]}}
{{transactionData[5]}}


<table><br>
  <tr>
    <th>Seating</th>
    <th>Seat Number</th>
    <th>Cost</th>
  </tr>
  {% for ticket in ticketData %}
  <tr>
    <td style="width:45%;">{{ticket[0]}}</td>
    <td style="width:45%;">{{ticket[1]}}</td>
    <td style="width:24%;">£{{ticket[2]}}</td>
  </tr>
  {% endfor %}
</table><br>

{% endblock %}
