{% extends "standardPage.html" %}

{% set title = "Payment" %}

{% block content %}
{{ super() }}

<div class="splitFlex">

  <div>
    <form>
      <h2>Guest details</h2>
      <label for="firstName">First name</label><br>
      <input type="text" id="firstName" name="firstName" value="{{guestData[1]}}"><br>
      <label for="lastName">Last name</label><br>
      <input type="text" id="lastName" name="lastName" value="{{guestData[2]}}"><br>
      <label for="emailAddress">Email Address</label><br>
      <input type="text" id="emailAddress" name="emailAddress" style="width:300px;" value="{{guestData[3]}}"><br>
      <label for="addressLine1">Address Line 1</label><br>
      <input type="text" id="addressLine1" name="addressLine1" style="width:280px;" value="{{guestData[4]}}"><br>
      <label for="addressLine2">Address Line 2</label><br>
      <input type="text" id="addressLine2" name="addressLine2" style="width:280px;" value="{{guestData[5]}}"><br>
      <label for="postcode">Postcode</label><br>
      <input type="text" id="postcode" name="postcode" style="width:150px;" value="{{guestData[6]}}"><br>
      <label for="mobileNumber">Mobile Number</label><br>
      <input type="text" id="mobileNumber" name="mobileNumber" value="{{guestData[7]}}"><br>
    </form>
  </div>

  <div>
    <form>
      <h2>Ticket Delivery</h2>
      <div class="inputFrame">
        <input type="radio" id="eTicket" name="eTicket" value="eTicket">
        <label for="eTicket">e-Ticket (FREE)</label><br>
        <input type="radio" id="postedTicket" name="postedTicket" value="postedTicket">
        <label for="postedTicket">Posted Ticket (£3.95)</label><br>
      </div>
    </form>

    <form onsubmit="return processTransaction()">
      <input type="submit" class="button largeButton" value="Checkout" />
    </form>

  </div>

  <div class="orderSummary">
    <div class="orderSummaryTitle">
      <h1>Your tickets</h1>
    </div>
    <img src="/static/media/{{performanceData[5]}}">
    <div class="orderSummaryDetails">
      <h2 class="bold">{{performanceData[6]}}</h2>
      <h4 class="bold">{{performanceData[7]}}</h4><br>
      <h4>{{performanceData[2]}} - {{performanceData[1]}}</h4>
      <h4>{{performanceData[3]}} @ {{performanceData[8]}}</h4>

      <table><br>
        <tr>
          <th>Ticket</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        {% for ticket in ticketData %}
        <tr>
          <td style="width:45%;">{{ticket[0][0]}}</td>
          <td style="width:35%;">£{{ticket[0][1]}}</td>
          <td style="width:24%;">{{ticket[1]}}</td>
        </tr>
        {% endfor %}
      </table><br>

      <h1 class="bold blue">£{{orderTotal}}</h1>

    </div>

  </div>


</div>


{% endblock %}

{% block script %}
{{ super() }}

<script>

  function processTransaction() {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/checkout/payment', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        window.location.href = "/checkout/orderConfirmed/" + xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send();
    return false;
  }


</script>


{% endblock %}
