{% extends "standardPage.html" %}

{% set title = "View dates" %}

{% block content %}
{{ super() }}

<div class="eventImageWrapper">
  <img class="spanBlurImage" src=/static/media/{{event[4]}}>
  <div class="eventTextOverlay">
    <h1>{{event[3]}}</h1>
    <h2>{{event[2]}}</h2>
  </div>
</div>

  <table class="performanceTable">
    {% for performance in performances %}
    <tr>
      <td style="width:23%">{{performance[3]}}</td>
      <td style="width:23%">{{performance[1]}}</td>
      <td style="width:53%">{{performance[2]}}</td>
      <td style="width:20%">
        <form onSubmit="return addToBasket({{performance[0]}},'test')">
          <input type="submit" class="button" value="View Tickets" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}

{% block script %}
{{ super() }}

<script>

  function addToBasket(performanceID, quantity) {
    params = 'performanceID='+performanceID+'&quantity='+quantity;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/basket/add', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        window.location.href = "/basket"
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>


{% endblock %}
